@using ThunderBank.Models;
@model IEnumerable<Movimiento>

@{
    ViewData["Title"] = "Listado Movimientos";
    Layout = "~/Views/Shared/_LayoutCliente.cshtml";
}

<div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 shadow-lg">
    <div class="col-lg-10 p-3 p-lg-5 pt-lg-3">
        <h1 class="display-4 fw-bold lh-1">Panel de Movimientos</h1>
        <p class="lead text-white">De un rapido vistazo podrás ver todos los movimientos. En rojo los <b class="text-danger">GASTOS</b> y en verde los <b class="text-success">INGRESOS</b>. En ThunderBank entendemos la importancia de un panel amigable para ver sus últimos movimientos.<br />
            Por ello hemos agregado una funcionalidad de exportacion a Excel de sus movimientos.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
            <a asp-action="Crear" class="btn btn-primary btn-lg px-4 fw-bold" style="padding-top:15px">Hacer un nuevo movimiento</a>
            <a id="btnExportarExcel" hidden asp-action="ExportarExcel" asp-route-listado="@Model" class="btn btn-success">Exportar movimientos a Excel</a>
            @*<a class="btn btn-outline-success btn-lg px-4" onclick="exportarExcel()">Exportar movimientos a Excel</a>*@
            <a class="btn btn-outline-success btn-lg px-4" onclick="exportarExcel()">
                <img width="48" height="48" src="https://img.icons8.com/color/48/ms-excel.png" alt="ms-excel" /> Exportar movimientos a Excel
            </a>
        </div>
    </div>
    <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
        <img class="rounded-lg-3" src="bootstrap-docs.png" alt="" width="720">
    </div>
</div>
<table class="table text-white mt-3">
    <thead>
        <tr>
            <th>Importe</th>
            <th>Tipo</th>
            <th>Comentario</th>
            <th>Relacionada</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Movimiento movimiento in Model.ToList().OrderByDescending(x => x.Id).ToList())
        {
            <tr>
                @if (movimiento.Tipo == "GASTO")
                {
                    <td class="text-danger">-@movimiento.Importe €</td>
                }
                else
                {
                    <td class="text-success">@movimiento.Importe €</td>
                }
                <td>@movimiento.Tipo</td>
                @if (movimiento.Comentario == null)
                {
                    <td>Sin Comentario</td>
                }
                else
                {
                    <td>@movimiento.Comentario</td>

                }
                @if (movimiento.Tipo == "INGRESO")
                {
                    <td>@movimiento.NumeroCuentaRelacionada</td>
                }
                else
                {
                    <td>@movimiento.NumeroCuentaRelacionada</td>
                }
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script>
        function exportarExcel() {
            Swal.fire({
                title: 'Espere',
                html: 'Se está generando el excel',
                timer: 2000,
                timerProgressBar: true,
                allowOutsideClick: false,
                didOpen: () => {
                    document.getElementById("btnExportarExcel").click();
                    Swal.showLoading()
                    const b = Swal.getHtmlContainer().querySelector('b')
                },
            }).then((result) => {
                /* Read more about handling dismissals below */
                if (result.dismiss === Swal.DismissReason.timer) {
                    
                }
            })
        }
    </script>
}