@using ThunderBank.Models;
@model Tarjeta

@{
    ViewData["Title"] = "Crear nueva tarjeta";
    Layout = "~/Views/Shared/_LayoutCliente.cshtml";
}

<h1>Crear tarjeta</h1>
<span class="text-white">Cuenta = @Model.NumeroDeCuenta</span>
<form asp-controller="Tarjeta" asp-action="Crear"class="text-white">
    <input type="hidden" asp-for="FechaDeCreacion" value="@DateTime.Now" />
    <input type="hidden" asp-for="FechaDeCaducidad" value="@DateTime.Now.AddYears(3)" />
    <input type="hidden" asp-for="Cvc" value="@Model.Cvc" />
    <input type="hidden" asp-for="Pin" value="@Model.Pin" />
    <input type="hidden" asp-for="Estado" value="@Model.Estado" />
    <input type="hidden" asp-for="NumeroDeCuenta" value="@Model.NumeroDeCuenta" />
    <label class="form-label">Anota tu código pin</label><br>
    <input type="text" disabled placeholder="@Model.Pin" asp-for="Pin" />
    <div class="mt-3">
        <button type="submit" class="btn btn-success">Crear tarjeta</button>
        <a asp-action="Index" class="btn btn-danger">Cancelar</a>
    </div>
</form>
