@using ThunderBank.Models;
@model IEnumerable<Tarjeta>

@{
    ViewData["Title"] = "Tarjetas";
}

<h1>Menú de gestión de tarjetas</h1>

<a asp-action="Crear" class="btn btn-danger">Crear nueva tarjeta</a>

<table class="table">
    <thead>
        <tr>
            <th>Numero</th>
            <th>Fecha de caducidad</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Tarjeta tarjeta in Model.ToList())
        {
                <tr>

                    <td>@tarjeta.NumeroDeTarjeta</td>
                <td>@tarjeta.FechaDeCaducidad.ToString("dd/MM/yy")</td>
                    <td>
                        <input type="hidden" value="@tarjeta.NumeroDeTarjeta" class="numero" />
                    <a class="btn btn-enfasis" asp-action="Editar" asp-route-numero="@tarjeta.NumeroDeTarjeta"><i class="bi bi-eye-fill"></i></a>
                    <a class="btn btn-danger" asp-action="Borrar" asp-route-numero="@tarjeta.NumeroDeTarjeta"><i class="bi bi-trash"></i></a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>