@using ThunderBank.Models.DTO;
@using ThunderBank.Services.Interfaces;
@model IEnumerable<DtoUsuario>

@{
    var id = ViewBag.Id.Result;
    var a = 2;
}

<table class="table table-hover table-striped">
    <thead>
        <tr>
            <td>Acciones</td>
            <td>Nombre</td>
            <td>Apellidos</td>
            <td>DNI</td>
            <td>Teléfono</td>
            <td>Correo electrónico</td>
            <td>Dirección</td>
            <td>Fecha de nacimiento</td>
        </tr>
    </thead>
    <tbody>
        @foreach (DtoUsuario cliente in Model)
        {
            <tr>
                <td>
                    <a class="btn btn-primary" asp-action="Editar" asp-controller="Cliente" asp-route-dni="@cliente.Dni" 
                    data-bs-toggle="tooltip" data-bs-title="Editar cliente">
                        <i class="bi bi-pen-fill"></i>
                    </a>
                    <a class="btn btn-danger" data-bs-toggle="tooltip" data-bs-title="Dar de baja">
                        <i class="bi bi-person-dash"></i>
                    </a>
                    @if (cliente.ResponsableId == 0)
                    {
                        <a class="btn btn-success" data-bs-toggle="tooltip" data-bs-title="Llevar a este cliente">
                            <i class="bi bi-check"></i>
                        </a>
                    }

                    @if (cliente.ResponsableId == id)
                    {
                        <a class="btn btn-warning" asp-action="SoltarCliente" asp-controller="Cliente" 
                        data-bs-toggle="tooltip" data-bs-title="Soltar a este cliente">
                            <i class="bi bi-x-circle"></i>
                        </a>
                        <a hidden id="btnSoltarBack" class="btn btn-danger" asp-action="Desactivar" asp-route-numCuenta="@cliente.Dni"><i class="bi bi-trash"></i></a>
                    }

                    
                </td>
                <td>@cliente.Nombre</td>
                <td>@cliente.Apellido</td>
                <td>@cliente.Dni</td>
                <td>@cliente.Telefono</td>
                <td>@cliente.Email</td>
                <td>@cliente.Direccion</td>
                <td>@cliente.FechaDeNacimiento.ToString("dd/MM/yyyy")</td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script>
        function soltarCliente(idCliente) {
            var btn = document.getElementById("btnSoltarBack");
            btn.click();
        }
    </script>

}
