@using ThunderBank.Models;

@model IEnumerable<CuentaViewModel>
@{
    ViewData["Title"] = "Listado Cuentas";
}

<h1>Bienvenido a el panel de Cuentas</h1>
<a asp-action="Crear" class="btn btn-enfasis mb-3">Crear Cuenta</a>
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>Acciones</th>
            <th>Numero</th>
            <th id="saldo">Saldo</th>
            <th>Tipo</th>
            <th id="fechaApertura">Apertura</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var listaCuenta in Model)
        {
            @foreach (var cuenta in listaCuenta.Cuentas)
            {
                <tr>
                    <td>
                        <input type="hidden" value="@cuenta.Numero" class="numero"/>
                        <a class="btn btn-enfasis" asp-action="Editar" asp-route-numero="@cuenta.Numero"><i class="bi bi-pencil-square"></i></a>
                        <a class="btn btn-danger" asp-action="Borrar" asp-route-numero="@cuenta.Numero"><i class="bi bi-trash"></i></a>
                    </td>
                    <td>@cuenta.Numero</td>
                    <td id="saldo">@cuenta.Saldo €</td>
                    <td>@cuenta.Tipo</td>
                    <td id="fechaApertura">@cuenta.FechaApertura.ToString("dd \"de\" MMMM yyyy")</td>
                </tr>
            }
        }
    </tbody>
</table>